#nombre1 {
    width: 270px;
}
#nombre2 {
    width: 270px;
}
#nombre3 {
    width: 270px;
}
#nombre4 {
    width: 270px;
}
#nombre5 {
    width: 270px;
}
#nombre6 {
    width: 270px;
}
#nombre7 {
    width: 270px;
}
#nombre8 {
    width: 270px;
}
#nombre9 {
    width: 270px;
}
#nombre10 {
    width: 270px;
}
#nombre11 {
    width: 270px;
}
#nombre12 {
    width: 270px;
}
#nombre13 {
    width: 270px;
}
#poids1 {
    width: 270px;
}
#poids2 {
    width: 270px;
}
#poids3 {
    width: 270px;
}
#poids4 {
    width: 270px;
}
#poids5 {
    width: 270px;
}
#poids6 {
    width: 270px;
}
#poids7 {
    width: 270px;
}
#poids8 {
    width: 270px;
}
#poids9 {
    width: 270px;
}
#poids10 {
    width: 270px;
}
#poids11 {
    width: 270px;
}
#poids12 {
    width: 270px;
}
#poids13 {
    width: 270px;
}
#type1 {
    width: 270px;
}
#type2 {
    width: 270px;
}
#type3 {
    width: 270px;
}
#type4 {
    width: 270px;
}
#type5 {
    width: 270px;
}
#type6 {
    width: 270px;
}
#type7 {
    width: 270px;
}
#type8 {
    width: 270px;
}
#type9 {
    width: 270px;
}
#type10 {
    width: 270px;
}
#type11 {
    width: 270px;
}
#type12 {
    width: 270px;
}
#type13 {
    width: 270px;
}
#gerbable1 {
    width: 270px;
}
#gerbable2 {
    width: 270px;
}
#gerbable1 {
    width: 270px;
}
#gerbable4 {
    width: 270px;
}
#gerbable5 {
    width: 270px;
}
#gerbable6 {
    width: 270px;
}
#gerbable7 {
    width: 270px;
}
#gerbable8 {
    width: 270px;
}
#gerbable9 {
    width: 270px;
}
#gerbable10 {
    width: 270px;
}
#gerbable11 {
    width: 270px;
}
#gerbable12 {
    width: 270px;
}
#gerbable13 {
    width: 270px;
}
#temperature1 {
    width: 270px;
}
#temperature2 {
    width: 270px;
}
#temperature3 {
    width: 270px;
}
#temperature4 {
    width: 270px;
}
#temperature5 {
    width: 270px;
}
#temperature6 {
    width: 270px;
}
#temperature7 {
    width: 270px;
}
#temperature8 {
    width: 270px;
}
#temperature9 {
    width: 270px;
}
#temperature10 {
    width: 270px;
}
#temperature11 {
    width: 270px;
}
#temperature12 {
    width: 270px;
}
#temperature13 {
    width: 270px;
}
#poids1 {
    width: 270px;
}
#poids2 {
    width: 270px;
}
#poids1 {
    width: 270px;
}
#poids4 {
    width: 270px;
}
#poids5 {
    width: 270px;
}
#poids6 {
    width: 270px;
}
#poids7 {
    width: 270px;
}
#poids8 {
    width: 270px;
}
#poids9 {
    width: 270px;
}
#poids10 {
    width: 270px;
}
#poids11 {
    width: 270px;
}
#poids12 {
    width: 270px;
}
#poids13 {
    width: 270px;
}
#type1 {
    width: 270px;
}
#type2 {
    width: 270px;
}
#type1 {
    width: 270px;
}
#type4 {
    width: 270px;
}
#type5 {
    width: 270px;
}
#type6 {
    width: 270px;
}
#type7 {
    width: 270px;
}
#type8 {
    width: 270px;
}
#type9 {
    width: 270px;
}
#type10 {
    width: 270px;
}
#type11 {
    width: 270px;
}
#type12 {
    width: 270px;
}
#type13 {
    width: 270px;
}
#temperature1 {
    width: 270px;
}
#temperature2 {
    width: 270px;
}
#temperature1 {
    width: 270px;
}
#temperature4 {
    width: 270px;
}
#temperature5 {
    width: 270px;
}
#temperature6 {
    width: 270px;
}
#temperature7 {
    width: 270px;
}
#temperature8 {
    width: 270px;
}
#temperature9 {
    width: 270px;
}
#temperature10 {
    width: 270px;
}
#temperature11 {
    width: 270px;
}
#temperature12 {
    width: 270px;
}
#temperature13 {
    width: 270px;
}
